target/
pdfs/
he1_respaldo/
.he1_label_index/

# Salidas temporales del proceso de unificacion
**/Cambios.txt
**/.he1_procesado
**/.he1_aux_temporal/
**/*.tmp.pdf
.env
fuentes_txt/*.txt
fuentes_txt/.he1_respaldo/
fuentes_txt/_restore_*_manifest.txt
